@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&ffamily=Alatadisplay=swap');

$gradient-color:rgb(53,62,171) linear-gradient(90deg, rgba(53,62,171,1) 24%, rgba(0,115,255,1) 100%);
$blue-color: rgb(53,62,171);
$light-color: rgb(240, 234, 234);
$grey-color: rgb(215, 214, 214);
$body-color: rgb(42, 42, 42);
$body-font: 'Alata', sans-serif;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: $body-font;
}

.mountain-background{
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.body-container{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    height: 80vh;
    width: 70vw;
    grid-template-rows: minmax(30px, 70px) 6fr;
}

.header-container{
    background: $gradient-color;
    display: flex;
    justify-content: center;
    align-items: center;

    .header{
        color: $light-color;
        font-family: 'Caveat', cursive;
    }
}



.content-container{
    display: grid;
    grid-template-columns: minmax(150px, 200px) 4fr;
}

.projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-right: 1px solid $blue-color;
    background-color: $light-color;
    padding-top: 20px;
    height: 420px;
    overflow-x: hidden;
    overflow-y: auto;

    button{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        white-space: nowrap;
        padding: 10px 10px;
        margin: 0 60px;
        cursor: pointer;
        border: none;
        background: $light-color;
        border-radius: 5%;
        font-weight: bold;
        font-size: 16px;
        color: $body-color;

        &:hover{
            background: darken($light-color, 5%);
        }

        &:focus{
            background: darken($light-color, 10%);
        }

        &:first-child{
            color: white;
            background: $blue-color;

            &:hover{
            background: darken($blue-color, 5%);
            }

            &:focus{
            background: darken($blue-color, 10%);
            }
        }
        }

}

.tasks{
    display: flex;
    flex-direction: column;
    gap: 20px;

    .task-container {
        max-width: 400px;
        display: flex;
        gap: 10px;
        background-color: $light-color;
        color: $body-color;
        padding: 10px 5px;

        &:hover{
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
            background: darken($light-color, 2%);
            }
    }

}

.tasks-container {
    padding: 20px 0 20px 20px;
    background-color: white;
    height: 420px;
    overflow-x: hidden;
    overflow-y: auto;
    
    #new-task{
        color: white;
        background: $blue-color;
        border: none;
        padding: 10px 10px;
        margin-bottom: 10px;
        border-radius: 5%;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

        &:hover{
            background: darken($blue-color, 5%);
            }
        }
        }



