@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&ffamily=Alata&family=Roboto:ital,wght@0,400;0,700;1,400&display=swap');

$gradient-color:rgb(53,62,171) linear-gradient(90deg, rgba(53,62,171,1) 24%, rgba(0,115,255,1) 100%);
$blue-color: rgb(53,62,171);
$light-color: rgb(242, 242, 242);
$grey-color: rgb(215, 214, 214);
$body-color: rgb(42, 42, 42);
$body-font: 'Roboto', sans-serif;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: $body-font;
}

.mountain-background{
  min-height: 100%;
  min-width: 1024px;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  left: 0;
}

.body-container{
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    height: 80vh;
    width: 70vw;
    grid-template-rows: minmax(30px, 70px) 6fr;
}

.header-container{
    background: $gradient-color;
    display: flex;
    justify-content: center;
    align-items: center;

    .header{
        color: $light-color;
        font-family: 'Caveat', cursive;
    }
}



.content-container{
    display: grid;
    grid-template-columns: minmax(150px, 200px) 4fr;
}

.projects-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    border-right: 1px solid $blue-color;
    background-color: $light-color;
    padding-top: 20px;
    height: 420px;
    overflow-x: hidden;
    overflow-y: auto;

    button{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        white-space: nowrap;
        padding: 10px 10px;
        margin: 0 60px;
        cursor: pointer;
        border: none;
        background: $light-color;
        border-radius: 5%;
        font-weight: bold;
        font-size: 16px;
        color: $body-color;

        &:hover{
            background: darken($light-color, 5%);
        }

        &:focus{
            background: darken($light-color, 10%);
        }

        &:first-child{
            color: white;
            background: $blue-color;

            &:hover{
            background: darken($blue-color, 5%);
            }

            &:focus{
            background: darken($blue-color, 10%);
            }
        }
        }

}

.tasks{
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;

    .task-container {
        max-width: 45vw;
        gap: 10px;
        background-color: $light-color;
        color: $body-color;
        padding: 10px 5px;
        font-size: 15px;
        border-radius: 1%;

        .task-content{
            display: flex;
            flex-direction: column;
            gap: 5px;

            .upper-content{
                display: flex;
                justify-content: space-between;

                .left-content{
                    display: flex;
                    align-items: center;
                    gap: 5px;
                }

                .right-content{
                    display: flex;
                    gap: 10px;
                    align-items: center;

                    .date{
                        border: 1px solid $blue-color;
                        color: $blue-color;
                        border-radius: 5%;
                        padding: 2px 2px;
                    }

                    .priority{
                        font-weight: bold;
                        padding: 1px 4px;
                    }

                    .priority.high{
                        @extend .priority;
                        border: 2px solid red;
                        color: red;
                    }

                    .priority.medium{
                        @extend .priority;
                        border: 2px solid rgb(224, 92, 3);
                        color: rgb(224, 92, 3);
                    }

                    .priority.low{
                        @extend .priority;
                        border: 2px solid rgb(23, 215, 20);
                        color: rgb(23, 215, 20);
                    }
                }
            }

            .lower-content{
                display: flex;
                padding-left: 20px;

                .notes{
                    font-style: italic;
                }
            }
        }

        &:hover{
            box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px 0px, rgba(0, 0, 0, 0.1) 0px 0px 1px 0px;
            background: darken($light-color, 2%);
            }
        
        .edit{
            cursor: pointer;
    
            &:hover{
                color: rgb(29, 154, 29);
                }
            }

        .bin{
            cursor: pointer;

            &:hover{
                color: red;
            }
        }
    }

}

.tasks-container {
    padding: 20px 0 20px 20px;
    background-color: white;
    height: 420px;
    overflow-x: hidden;
    overflow-y: auto;
    
    #new-task{
        color: white;
        background: $blue-color;
        border: none;
        padding: 10px 10px;
        margin-bottom: 20px;
        border-radius: 5%;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

        &:hover{
            background: darken($blue-color, 5%);
            }
        }

    .delete-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;
        margin-top: 30px;

        h1{
            font-size: 30px;
        }

        h2{
            font-size: 20px;
            font-weight: 400;
        }

        #delete-project{
            padding: 10px 5px;
            max-width: 100px;
            color: white;
            border: none;
            cursor: pointer;
            font-weight: bold;
            border-radius: 5%;
            background: red;
            box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;

            &:hover{
            background: darken(red, 5%);
            }

            &:focus{
            background: darken(red, 10%);
            }
        }
    }
    }

.task-modal{
    position: fixed;
    left: 50%;
    top: 53%;
    transform: translate(-50%, -50%);
    width: 35vw;
    height: 70vh;
    background-color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    opacity: 0;
    pointer-events: none;
    transition-timing-function: ease-out;
    transition: 0.3s;

    .modal-header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 10px;
        padding: 5px 10px;
        color: white;
        background: $blue-color;

        #exit{
            font-size: 20px;
            cursor: pointer;

            &:hover{
                color: rgb(230, 228, 228);
            }
        }
    }

    .form-container{
        .form-column{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 5px;
            padding-top: 10px;

            #title, #date, #priority, #notes{
                background-color: $light-color;
                border: none;
                padding: 5px 5px; 
                resize: none;
            }
        }
    }

    .submit-container{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 20px;

        #submit{
            padding: 10px 10px;
            color: white;
            border: none;
            cursor: pointer;
            font-weight: bold;
            border-radius: 10%;
            background: $blue-color;

            &:hover{
            background: darken($blue-color, 5%);
            }

            &:focus{
            background: darken($blue-color, 10%);
            }
        }
    }
}

.task-modal.show{
    opacity: 1;
    pointer-events: auto;
    transition-timing-function: ease-in;
    transition: 0.2s;
}

.body-container.blur{
    filter: blur(5px);
    pointer-events: none;
}

.project-modal{
    @extend .task-modal;
    width: 30vw;
    height: 30vh;
    top: 45%;
    display: flex;
    flex-direction: column;
    transition-timing-function: ease-out;
    transition: 0.3s;

    header{
        @extend .modal-header;
        display: flex;
        align-items: center;
        justify-content: space-between;
        font-size: 15px;
        font-weight: bold;

        #exit{
            cursor: pointer;
        }
    }

    .project-form{
        padding: 20px 20px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 10px;

        #project-name{
            max-width: 150px;
            padding: 5px 5px;
        }

        #project-submit{
            padding: 8px 8px;
            margin-top: 10px;
            color: white;
            border: none;
            cursor: pointer;
            font-weight: bold;
            border-radius: 10%;
            background: $blue-color;

            &:hover{
            background: darken($blue-color, 5%);
            }

            &:focus{
            background: darken($blue-color, 10%);
            }
        }
    }
}

.project-modal.show{
    opacity: 1;
    pointer-events: auto;
    transition-timing-function: ease-in;
    transition: 0.2s;
}
