@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@700&ffamily=Alatadisplay=swap');

$gradient-color:rgb(53,62,171) linear-gradient(90deg, rgba(53,62,171,1) 24%, rgba(0,115,255,1) 100%);
$blue-color: rgb(53,62,171);
$light-color: rgb(240, 234, 234);
$grey-color: rgb(215, 214, 214);
$body-font: 'Alata', sans-serif;

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: $body-font;
}

.body-container{
    display: grid;
    height: 100vh;
    grid-template-rows: minmax(30px, 70px) 6fr;
}

.header-container{
    background: $gradient-color;
    display: flex;
    justify-content: center;
    align-items: center;

    .header{
        color: $light-color;
        font-family: 'Caveat', cursive;
    }
}



.content-container{
    display: grid;
    grid-template-columns: 1fr 4fr;
}

.projects-container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    border-right: 1px solid $blue-color;
    background-color: $light-color;
    padding-top: 20px;

    button{
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 5px;
        white-space: nowrap;
        padding: 10px 5px;
        margin: 0 60px;
        cursor: pointer;
        border: none;
        background: $light-color;
        border-radius: 5%;
        font-weight: bold;
        font-size: 16px;

        &:hover{
            background: darken($light-color, 5%);
        }

        &:focus{
            background: darken($light-color, 10%);
        }

        &:first-child{
            color: white;
            background: $blue-color;

            &:hover{
            background: darken($blue-color, 5%);
            }

            &:focus{
            background: darken($blue-color, 10%);
            }
        }
        }

}

.tasks{
    display: flex;
    flex-direction: column;
    gap: 20px;

    .task-container {
        max-width: 400px;
        display: flex;
        gap: 10px;
        background-color: $light-color;
        padding: 10px 5px;
    }

}

.tasks-container {
    margin: 20px 0 0 20px;
    
    #new-task{
        color: white;
        background: $blue-color;
        border: none;
        padding: 10px 10px;
        margin-bottom: 10px;
        border-radius: 5%;
        cursor: pointer;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

        &:hover{
            background: darken($blue-color, 5%);
            }
        }
        }



